#
# 2017-05-07:geg
#
# Git Ignore File
#

#
# Ignore the emacs backup files ending with ~
#
*~

#
# Ignore the emacs autosave files beginning with #
#
\#*

#
# Ignore the default compiled file
#
a.out

